* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(6, 6, 141);
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: rgb(2, 2, 29);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer
}

.btn:hover {
    background-color: rgb(26, 11, 226);
    color: rgb(241, 238, 10);
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgba(255, 0, 0, 0.562);
}

#igual:hover {
    background-color: orangered;
}

h1 {
    color: rgb(132, 20, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color:aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    color:aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para el botón */
button {
    background-color: #1058b6bd; /* Color de fondo llamativo */
    color: rgb(241, 245, 16); /* Color de texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

/* Estilos para el efecto hover */
button:hover {
    background-color: #c50a19; /* Cambia el color de fondo en hover */
    color: #51b7bb;
}